.container {
    width: 400px;
    padding: 0 15px;
    margin: 0 auto;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px
}

.filter>label {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.filter>input {
    width: 40%;
    padding: 8px;
    letter-spacing: 0.06em;
    margin-top: 2px;
    color: #ffffff;
    background-color: rgb(194, 180, 163);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 18px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.filter>input:focus {
    outline: none;
}