.contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    width: 400px;
    margin-top: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.contactForm>label {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.contactForm>input {
    width: 96%;
    padding: 8px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: rgb(194, 180, 163);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 18px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.contactForm>input:focus {
    outline: none;
}

.contactForm>button {
    width: 80%;
    padding: 6px;
    margin-top: 20px;
    align-self: center;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.06em;
    background-color: rgb(194, 180, 163);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    transition: transform 500ms ease-in-out;
}

.contactForm>button:hover {
    background-color: rgb(190, 162, 128);
    transform: scale(1.05);
    cursor: pointer;
}